/* ---------------------------------------------------- */
/*                    General                           */
/* ---------------------------------------------------- */
body,html 
{
	margin: 0 5px;
	font-family: Verdana,sans-serif;
	background-color: #000000;
}


/* ---------------------------------------------------- */
/*                    Layout                            */
/* ---------------------------------------------------- */
#header
{
	width: 900;
	margin: auto;
	overflow: visible;
}

/* =====               Menu                       ===== */
#menu
{
	font-family: Verdana, Tahoma, Sans-Serif;
	right: 20px;
	width: 900;
	height: 45;
	margin: auto;
	overflow: visible;
	background-color: #c3ff00;
	color: #ffffff;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}

.menulink
{
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	padding: 3px;
	background-color: #c3ff00;
	color: #000000;	
}

.menulink a
{
	color: #000000;
	text-decoration: none;
}

#menulogin
{
	float: right;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 15px;
	padding: 0px;
	background-color: #c3ff00;
	color: #000000;
}

#menulogin a
{
	color: #000000;
	text-decoration: none;
}

/* =====            Sign-in Popup                 ===== */
#signin
{
	position: relative;
	float: right;
	margin-top: 10px;
	margin-right: 7px;
	padding: 3px;
	background-color: #c3ff00;
	color: #000000;
}
#signin a
{
	color: #000000;
	text-decoration: none;
}

#signin_popup
{
	width:270px;
	background-color:#fff;
	border:solid 1px #5ea0c1;
	padding:8px;
	position: absolute;
	left: -200px;
	display:none;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}


/* ---------------------------------------------------- */
/*                      Index                           */
/* ---------------------------------------------------- */
#index
{
	width: 950;
	margin-left: auto;
	margin-right: auto;
	/*overflow: visible;*/
	background: #000;
	border: 0px solid #fff;
}

#footer
{
	margin: auto;
	font-family: Verdana,sans-serif;
	font-size: 20px;
	color: #fff;
	background: #222;
	text-align: center;
}

#ending
{
	height: 200px;
}

#container
{
	border: 0px solid #fff;
	margin: 20px;
	background: #000;
	/* background: #ff0; */
	width: 900px;
}

#container #tabs
{
	border: 0px solid #fff;
	width: 900;
	/*background: #0f0;*/
	background: #000;
	padding: 0px;
}

#gallery-tab
{
	margin: auto;
	overflow: visible;
	margin: 0px;
	background: #444;
	border-top-right-radius: 10px;
	padding: 10px;
}

#gallery
{
	margin: 0px;
}

#searchinput
{
	margin: 5px;
	float: left;
}

#searchinput .label
{
	color: #fff;
}

.ui-tabs
{
	background: #333;
	border: 0px solid #000;
}

.ui-tabs .ui-tabs-panel
{
	padding: 0px;
}

.ui-tabs .ui-tabs-nav
{
	padding-left: 0px;
}

.ui-tabs-nav
{
	/* background: #f00;*/
	background: #000;
	border: 0px solid #000;
	margin-top: 0px;
	padding: 0px;
}

.ui-tabs-panel
{
	background: #000;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
	background: #444;
	border: 0px solid #000;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
	background: #222;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	border: 0px solid #fff;
	background:#222;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited 
{
	color: #fff;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-style: bold;
	font-size: 14px;

}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius: 0px;
}

.mediacontainer
{
	border: 0px solid #000000;
	display: inline-block;
	padding: 2px;
	margin: 2px;
	width: 160;
}
	
.mediathumb
{
	display: block;
}

.mediadesc
{
	display: block;
	color: #000000;
	background-color: #ffffff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-family: Verdana, Tahoma, Sans-Serif;
	font-size: 10px;
	margin-left: 15px;
	width: 140;
}

#menusearch .border
{
	margin: 2px;
	/*border: 2px solid #c3ff00;*/
	border: 2px solid #444;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	overflow: auto;
	width: 100%;
	font-size: 14px;
	color: #fff;
}

#menusearch .label
{
	font-size: 14px;
	color: #fff;
	margin-top: 5px;
	margin-left: 5px;
}

#menusearch #form
{	
	float: left;
}

#menusearch #common
{
	margin-left: 10px;
	float: left;
	width: 150px;
	display: none;
}

#menusearch #order
{
	float: left;
	width: 150px;
	margin-bottom: 5px;
	display: none;
}

.searchform
{
	margin-top: 0px;
	margin-left: 10px;
}

.searchform .more
{
	font-size: 10px;
	color: #fff;
}

.searchform .more a
{
	font-size: 10px;
	color: #fff;	
}

.searchform input 
{
        font: normal 12px/100% Arial, Helvetica, sans-serif;
				margin-top: 7px;
}
.searchform .searchfield 
{
        background: #fff;
        padding: 6px 6px 6px 8px;
        width: 400px;
        border: solid 1px #bcbbbb;
        outline: none;

        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;

        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton 
{
        color: #fff;
        border: solid 1px #494949;
        font-size: 11px;
        height: 27px;
        width: 27px;
        text-shadow: 0 1px 1px rgba(0,0,0,.6);

        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;

        background: #5f5f5f;
        background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
        background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
        -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}




/* ---------------------------------------------------- */
/*                   Media Details                      */
/* ---------------------------------------------------- */
#ad-gallery 
{
	padding: 2px;
	margin: auto;
}

#descriptions 
{
	position: relative;
	height: 50px;
	background: #EEE;
	margin-top: 10px;
	width: 640px;
	padding: 10px;
	overflow: hidden;
}

#descriptions .ad-image-description 
{
	position: absolute;
}

#descriptions .ad-image-description .ad-description-title 
{
	display: block;
}


#main
{
	height:500px;
}

.tag
{
	background-color: #444;
	border-radius: 5px;
	color: #ffffff;
	margin: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

.mediathumb img
{
	padding: 1px;
	border-radius: 20px;
	background-color: #ffffff;
	margin: 2px;
}

.media
{
	float: left;
	background-color: #ffffff;
	border-radius: 20px;
}



#details
{
	width: 850;
	margin: auto;
}

#media-details
{
	width: 850px;
	margin: auto;
}

.media-scaled
{
	margin-left: auto;
	margin-right: auto;
}

#tags
{
	position: relative;
	width: 600px;
	margin-left: auto;
	margin-right: auto;

}

#tags .tags-label
{
	position: relative;
	color: #fff;
	cursor: pointer;
	left: -10px;
	top: 60px;
	width: 5px;
	display: block;

	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-style: bold;
	font-size: 12px;

	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.img-desc
{
	display: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 7px;
	text-align: left;
	width: 100%;
	z-index: 200;
	background: url(../images/opa25.png);
	color: #000;
	font-size: 12px;	
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;

}
* html .img-desc
{
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='images/opa25.png');
}

.img-desc .img-title
{
	display: block;
}


#pubtex-tags
{
	width: 600;
	margin-left: auto;
	margin-right: auto;
}






.media-description-main-container
{
	background-color: #333333;
	width: 290px;
	margin: auto;
	float: left;
	font-size: normal;
	color: #eeeeee;
	font-weight: bold;
	position: relative;
}

.media-description-main-container .icon
{
	margin-left: 4px;
}

.media-description-main-container .label
{
	margin-left: 6px;
}

.media-description
{
	width: 264px;
	margin-left: 25px;
	margin-bottom: 5px;
	float: left;	
	background-color: #000000;
}

.media-description-tmp1
{
	width: 263px;
	float: left;	
	background-color: #888888;
}

.media-description-tmp2
{
	width: 262px;
	margin: 0px;
	margin-bottom: 1px;
	margin-right: 1px;
	float: left;
	background-color: #000000;
}

.media-description-container-border
{
	width: 261px;
	float: left;
	background-color: #222222;
	margin: 1px;
}

.media-description-container
{
	position: relative;
	width: 260px;
	background-color: #777777;
	float: left;
}

.media-description-label
{
	font-size: small;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 5px;
}


.media-description-data
{			
	position: absolute;
	left: 55px;
	top: 0px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #ffffff;

}

.media-scaled img
{
	display: block;	
	margin-left: auto;
	margin-right: auto;
}



#media-techdetails
{
	width: 290px;
	margin: auto;
}

#media-tags
{
	width: 850px;
	margin: auto;	
}

#media-files
{
	width: 850px;
	margin: auto;
}

#temppepemppi
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');

}
