body,html 
{
	margin: 0 5px;
	font-family: Verdana,sans-serif;
	background-color: #000000;
}

#sign_box
{
	width:270px;
	background-color:#fff;
	border:solid 1px #5ea0c1;
	padding:8px;
	position: absolute;
	left: -200px;
	display:none;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
}

#lnksign
{
	position: relative;
	float: right;
	margin-top: 10px;
	margin-right: 7px;
	padding: 3px;
	background-color: #c3ff00;
	color: #000000;
}
#lnksign a
{
	color: #000000;
	text-decoration: none;
}

.menulink
{
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	padding: 3px;
	background-color: #c3ff00;
	color: #000000;
	
}

#menusearch
{
	float: left;
	margin-top: 2px;
}

.menulink a
{
	color: #000000;
	text-decoration: none;
}

.menulogin a
{
	color: #000000;
	text-decoration: none;
}

.menulogin
{
	float: right;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 15px;
	padding: 0px;
	background-color: #c3ff00;
	color: #000000;
}

#main
{
	height:500px;
}

#menu
{
	font-family: Verdana, Tahoma, Sans-Serif;
	right: 20px;
	width: 850;
	height: 45;
	margin: auto;
	overflow: visible;
	background-color: #c3ff00;
	color: #ffffff;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}

#header
{
	width: 850;
	margin: auto;
	overflow: visible;
}

.image-gallery
{
	width: 850;
	margin: auto;
	overflow: visible;
}

.mediacontainer
{
	border: 3px solid #000000;
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 160;
}
	

.mediathumb
{
	display: block;
}

.mediadesc
{
	display: block;
	color: #000000;
	background-color: #ffffff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-family: Verdana, Tahoma, Sans-Serif;
	font-size: 10px;
	margin-left: 15px;
	width: 140;
}

.tag
{
	background-color: #444444;
	border-radius: 5px;
	color: #ffffff;
	margin: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

.mediathumb img
{
	padding: 1px;
	border-radius: 20px;
	background-color: #ffffff;
	margin: 2px;
}

.media
{
	float: left;
	background-color: #ffffff;
	border-radius: 20px;
}

.searchform input {
        font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
        background: #fff;
        padding: 6px 6px 6px 8px;
        width: 242px;
        border: solid 1px #bcbbbb;
        outline: none;

        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;

        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton {
        color: #fff;
        border: solid 1px #494949;
        font-size: 11px;
        height: 27px;
        width: 27px;
        text-shadow: 0 1px 1px rgba(0,0,0,.6);

        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;

        background: #5f5f5f;
        background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
        background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
        -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}



h1 
{
	font-size: 1.4em;
	color: #008000;
}

a 
{
	color: #008000;
}

/* Table */
th 
{
	text-align: left;
}

td, th 
{
	padding-right: 5px;
}

/* style form */
form dt 
{
	width: 100px;
	display: block;
	float: left;
	clear: left;
}

form dd 
{
	margin-left: 0;
	float: left;
}

form #submitbutton 
{
	margin-left: 100px;
}


#details
{
	width: 850;
	margin: auto;
}

#media-details
{
	width: 850px;
	margin: auto;
}

.media-scaled
{
	margin-left: auto;
	margin-right: auto;
}

#tags
{
	width: 512;
	margin-left: auto;
	margin-right: auto;
}

#pubtex-tags
{
	width: 512;
	margin-left: auto;
	margin-right: auto;
}






.media-description-main-container
{
	background-color: #333333;
	width: 290px;
	margin: auto;
	float: left;
	font-size: normal;
	color: #eeeeee;
	font-weight: bold;
	position: relative;
}

.media-description-main-container .icon
{
	margin-left: 4px;
}

.media-description-main-container .label
{
	margin-left: 6px;
}

.media-description
{
	width: 264px;
	margin-left: 25px;
	margin-bottom: 5px;
	float: left;	
	background-color: #000000;
}

.media-description-tmp1
{
	width: 263px;
	float: left;	
	background-color: #888888;
}

.media-description-tmp2
{
	width: 262px;
	margin: 0px;
	margin-bottom: 1px;
	margin-right: 1px;
	float: left;
	background-color: #000000;
}

.media-description-container-border
{
	width: 261px;
	float: left;
	background-color: #222222;
	margin: 1px;
}

.media-description-container
{
	position: relative;
	width: 260px;
	background-color: #777777;
	float: left;
}

.media-description-label
{
	font-size: small;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 5px;
}


.media-description-data
{			
	position: absolute;
	left: 55px;
	top: 0px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #ffffff;

}

.media-scaled img
{
	display: block;	
	margin-left: auto;
	margin-right: auto;
}



#media-techdetails
{
	width: 290px;
	margin: auto;
}

#media-tags
{
	width: 850px;
	margin: auto;	
}

#media-files
{
	width: 850px;
	margin: auto;
}

#temppepemppi
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');

}
